aiohttp
boto3
cryptography==38.0.0
django
docker
elasticsearch==7.9.0
fastapi==0.111.0
mangum==0.17.0
minio
psycopg2-binary
PyJWT
pylint
pytest
pytest-django
requests==2.32.3
uvicorn==0.30.1
pytest-env
python-json-logger==2.0.7